header{
    background:red;
    color: blue;
    text-decoration: none;
    p{
        color:blue;
    }
    span{
        color:red;
    }
}
h2{
    background: yellow;
}
footer{
    background-color: pink;
}