$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}

header{
    background:red;
    color: blue;
    text-decoration: none;
    p{
        color:blue;
    }
    span{
        color:red;
    }
}
h2{
    background: yellow;
}
footer{
    background-color: pink;
}

nav{
    .dropdown-menu{
        left: -90px;
    }
}

.disabled{
    
}