<div class="search-form mt-4">
    <form action="" method="POST">
        <div class="form-group">
            <label for="">Tim kiem</label>
            <input type="search" name="q" placeholder="Nhap tu khoa" id="search-input" class="form-control">
            <button class="btn btn-primary mt-2">Tim kiem</button>
        </div>
    </form>
</div>