<!DOCTYPE html>
<html lang="en">

<head>
    {{>_head}}
</head>

<body>
    {{>_header}}

    {{!-- end header --}}
    <main class="container">
        {{{body}}}
    </main>

    {{!-- end main --}}

    {{>_footer}}

    {{!-- end footer --}}

    {{>_script}}
</body>

</html>